body {
  font-family: sans-serif;
}

.margen__nosotros {
  height: 25px;
}

#Hero-Section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

input {
  border: 0;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  transform: scale(1.1);
}

.limite_central {
  padding-top: 130px;
}

.logo {
  width: 120px;
}

.logo_gob {
  width: 80px;
}

.logo_autonoma {
  width: 80px;
}

.color_fuente {
  font-size: 30px;
  color: black;
  margin: 20px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.text_araucania {
  text-align: center;
  font-size: 30px;
  vertical-align: middle;
  padding-top: 12rem;
}

.color_boton {
  color: #ffffff;
  background-color: #201169;
  border-color: #201169;
  border-radius: 16px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.color_boton:hover {
  transition: all;
}

.img_grande {
  height: 100%;
  padding-bottom: 40px;
  padding-top: 20px;
}

.region {
  font-size: 35px;
  color: black;
}
